<div class="top_container">

</div>

<div class="row opt_box">
  <div class="opt" (click)="CSR()">
    <img src="../../assets/images/Service_request_blue.png"  width="90" height="90">
    <div class="opt_heading">Create Service Request</div>
  </div>

  <div class="opt" (click)="tsr()">
      <img src="../../assets/images/track_request_blue.png"  width="90" height="90">
      <div class="opt_heading">Track Service Request</div></div>

<div class="opt" (click)="dashboard()">
    <img src="../../assets/images/dashboard.png" width="90" height="90">
    <div class="opt_heading" >Dashboard</div>
</div>
</div>
