<div class="track_status_box">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <div class="progress">
        <div class="circle" [ngClass]="{'Under Assessment':'done','Agreed':'done','Agree Service':'done','Completed':'done'}[status]">	                        
            <span>&#10003;</span> 
            <span class="title">New Request</span>	
        </div>
        <span class="bar" [ngClass]="{'Under Assessment':'','Agreed':'done','Agree Service':'done','Completed':'done'}[status]"></span>
        <div class="circle" [ngClass]="{'Under Assessment':'done1','Agreed':'done1','Agree Service':'done1','Completed':'done1'}[status]">                      
            <span  *ngIf="status=='Agreed' || status=='Agree Service' || status=='Completed'|| status=='I_START'|| status=='I_END'|| status=='END-READYTOMOVE'|| status=='FAIL-READYTOMOVE'">&#10003;</span> 
            <span class="title">Assess Request</span>
        </div>
        <span class="bar" [ngClass]="{'Under Assessment':'','Agreed':'done','Agree Service':'done','Completed':'done'}[status]"></span>
        <div class="circle" [ngClass]="{'Under Assessment':'','Agreed':'done','Agree Service':'done','Completed':'done'}[status]">	                       
                <span  *ngIf="status=='Agree Service' || status=='Completed'|| status=='I_START'|| status=='I_END'|| status=='END-READYTOMOVE'|| status=='FAIL-READYTOMOVE'">&#10003;</span> 
                <span class="title">Agree Service</span>	
        </div>
        <span class="bar" [ngClass]="{'Under Assessment':'','Agreed':'','Agree Service':'','Completed':'done'}[status]"></span>
        <div class="circle" [ngClass]="{'Under Assessment':'','Agreed':'','Agree Service':'','Completed':'done'}[status]">	                        
             <span  *ngIf="status=='Completed'|| status=='I_START'|| status=='I_END'|| status=='END-READYTOMOVE'|| status=='FAIL-READYTOMOVE'">&#10003;</span> 
             <span class="title">Execute Service</span>	
        </div>
      
       
</div>

</div>





<h3 class="sub_heading">General Information(Read Only)</h3>

   
<div class="po_detail_box" >
    <div class="row ">
       <div class="col-md-4 form-group">
         
          <label for="state">Requesting Member State</label>
              <input class="form-control" id="state"  type="text"  [(ngModel)]="memberState" [readonly]="true" />
         
       </div>

       <div  class="col-md-1"></div>
       <div class="col-md-4 form-group">
        <label for="state">Requesting Consulate Officer Name</label>
        <input class="form-control" id="state" placeholder="" type="text" [(ngModel)]="consularOfficerName" [readonly]="true"  />
       </div>
    </div>
    <br>
    <div  class="row" >
       <div class="col-md-4 ">
        <label>Date of Request</label>
        <input class="form-control" id="state" placeholder="" type="text" [(ngModel)]="requestDate" [readonly]="true" />
       </div>
       <div  class="col-md-1"></div>
       <div class="col-md-4">
        <label for="state">Document issuing Country </label>
        <input class="form-control" id="state"  type="text" [(ngModel)]="documentIssuingCountry"  [readonly]="true" />
       </div>
    </div>

<br>

    <div  class="row" >
        <div class="col-md-4">
            <label for="state">Applicant Name</label>
            <input class="form-control" id="state" placeholder="" type="text" [(ngModel)]="applicantName" [readonly]="true"  />
        </div>
        <div  class="col-md-1"></div>
        <div class="col-md-4">
            <label for="state">Requestor comments </label>
        
             <textarea name="" id="" cols="60" rows="5"  [(ngModel)]="requestorComment" style="background-color:#EDEEED" [readonly]="true" ></textarea>
         
        </div>
     </div>


 </div>
    
  



<br><br>


<h3 class="sub_heading">Supporting Documents(Read Only)</h3>

   
<div class="po_detail_box" >
    <div class="row ">
       <div class="col-md-4 form-group">
         
          <label for="state">Selected Document Type</label>
          <input class="form-control" id="state"  type="text" [(ngModel)]="documentType"  [readonly]="true" /><br>
          <a target="_blank" href={{doc_url}}><img src="../../assets/images/doc.png" height="30" ></a>
      
       </div>

       <div  class="col-md-1"></div>
       <div class="col-md-4 form-group">
        <label for="state">Issuing Authority Name </label>
        <input class="form-control" id="state"  type="text" [(ngModel)]="documentIssuingAuthority"  [readonly]="true" />
     
       </div>
    </div>


    </div>
    
  <br>

<div *ngIf="status!='Completed' && status!='Returned'">
<h3 class="sub_heading">Assessment Result (Required)</h3>

   
<div class="po_detail_box" >
    <div class="row ">
            <div  class="col-md-4">
                    <label for="state">Request Type </label>
            <br>
           


            <div class="switch-field">
                
                 <input type="radio" id="switch_left2" name="switch_1" [(ngModel)]="type" value="Simple" checked disabled/>
                 <label for="switch_left2">Simple</label>
                 <input type="radio" id="switch_right2" name="switch_1" [(ngModel)]="type" value="Complex" disabled />
                 <label for="switch_right2">Complex</label>
               </div>

        </div>

       <div  class="col-md-1"></div>
       <div class="col-md-4 form-group">
        <label for="state">Estimated Quotation (in USD)<span class="asterisk"></span></label>
        <input class="form-control" id="state"  type="text" [(ngModel)]="quotation"  />
     
       </div>
    </div>

<br>

    <div class="row ">
            <div  class="col-md-4">
                    <label for="state">Assessment Decision<span class="asterisk"></span></label>
            <br>



                  <div class="switch-field">
                    
                     <input type="radio" id="switch_left" name="switch_2" [(ngModel)]="assessmentDecision" value="Agreed" checked/>
                     <label for="switch_left">Agreed</label>
                     <input type="radio" id="switch_right" name="switch_2" [(ngModel)]="assessmentDecision" value="Returned" />
                     <label for="switch_right">Returned</label>
                   </div>




        </div>

       <div  class="col-md-1"></div>
       <div class="col-md-4 form-group">
        <label for="state">Assessor Comments <span class="asterisk"></span></label>
        <input class="form-control" id="state"  type="text" [(ngModel)]="Requestors_cmts"  />
     
       </div>
    </div>

<button class="btn btn-primary float-right"style=" margin-left:50px" (click)="save(assess_decision)">Submit Assessment</button>

<button class="btn btn-warning float-right"  (click)="back()">Cancel</button>
<br>
    </div>
    


</div>