<h3 class="sub_heading">General Information(Read Only)</h3>
<form>
   
<div class="po_detail_box" >
    <div class="row ">
       <div class="col-md-4 form-group">
         
          <label for="state">Requesting Member State</label>
              <input class="form-control" id="state" value="jjj" type="text" [readonly]="true" />
         
       </div>

       <div  class="col-md-1"></div>
       <div class="col-md-4 form-group">
        <label for="state">Requesting Consulate Officer Name</label>
        <input class="form-control" id="state" placeholder="" type="text"  [readonly]="true"  />
       </div>
    </div>
    <br>
    <div  class="row" >
       <div class="col-md-4 ">
        <label>Date of Request<span class="asterisk"></span></label>
        <input class="form-control" id="state" placeholder="" type="date"  [readonly]="true" />
       </div>
       <div  class="col-md-1"></div>
       <div class="col-md-4">
        <label for="state">Document issuing Country <span class="asterisk"></span></label>
        <input class="form-control" id="state"  type="text"   [readonly]="true" />
       </div>
    </div>

<br>

    <div  class="row" >
        <div class="col-md-4">
            <label for="state">Applicant Name<span class="asterisk"></span></label>
            <input class="form-control" id="state" placeholder="" type="text"  [readonly]="true"  />
        </div>
        <div  class="col-md-1"></div>
        <div class="col-md-4">
            <label for="state">Requestors comments <span class="asterisk"></span></label>
        
             <textarea name="" id="" cols="60" rows="5"  [readonly]="true" ></textarea>
         
        </div>
     </div>


 </div>
    
  
</form>


<br><br>


<h3 class="sub_heading">Supporting Documents(Read Only)</h3>
<form>
   
<div class="po_detail_box" >
    <div class="row ">
       <div class="col-md-4 form-group">
         
          <label for="state">Uploaded Document</label>
           <p> display here the doc</p>
         
       </div>

       <div  class="col-md-1"></div>
       <div class="col-md-4 form-group">
        <label for="state">Issuing Authority Name </label>
        <input class="form-control" id="state"  type="text" />
       </div>
    </div>


    </div>
    
  
</form>